html, body{
  margin: 0px;
  height: 100%;
  background: #eee;
}

.actived{
  border-bottom: 4px solid #84BD00;
  padding-bottom: 4px;
}

.central{
  height: 100%;
  overflow-y: scroll;
}

.head-title{
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 25px;
  display: block;
}

.navigation{
  text-align: center;
  color: white;
  background: #1C1C1F;
  height: 100%;
}

.navigation a{
  columns: #ddd;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
  text-decoration: none;
}

.navigation a:hover{
  columns: white;
}

.navigation .fas{
  font-size: 25px;
  display: block;
  width: 100%;
}

#user_logged{
  text-decoration: center;
  background: #1C1C1F;
  position: absolute;
  bottom: 0px;
  border-top:1px solid #4444 ;
  width: 75%;
}

#user_logged .user-image{
  background: #eee;
  border-radius: 100px;
  height: 60px;
  width: 60px;
  margin: 0px auto;
  margin-top: 15px;
  overflow: hidden;
}

#user_logged .user-image img{
  width: 60px;
}

.btn-logout{
  cursor: pointer;
}

.artist_img_for_edit{
  width: 150px;
}

.artist-list{
  margin: 0px;
  padding: 0px;
  margin-top: 30px;
  list-style: none;
}

.artist-item{
  width: 23%;
  margin: 0px;
  padding: 0px;
  height: 317px;
  border: 1px solid #444;
  margin-left: 20px;
  margin-top: 20px;
}

.artist-item .artist-img{
  width: 245px;
  width: 100%;
  overflow: hidden;
  background: black;
}

.artist-item .artist-img img,
.album-item .artist-img img{
  height: 100%;
}

.artist-item .artist-name{
  color: white;
  padding: 10px;
  background: #222326;
}

.artist-item .artist-name a{
  color: white;
}


/*Canciones*/
.songs-list{
  margin: 0px;
  padding: 0px;
}

.song-item{
  list-style: none;
  border-bottom: 1px solid #ccc;
  padding-top: 20px;
}

.song-item .title{
  padding: 12px;
}

.song-item .buttons{
  float: right;
}

/*Player*/
.player{
  background: #EEE;
  position: fixed;
  width: 90.5%;
  bottom: 0px;
  padding: 0px;
  margin-left: -15px;
  border-left: 1px solid #444;
}

.player .album-image img{
  height: 50%;
  float: right;
  height: 250px;
  overflow: hidden;
}

.player .album-image{
  float: left;
  width: 1000px;
  height: 105px;
  overflow: hidden;
}

.player .audio-file{
  width: 85%;
  height: 40px;
  margin-top: 5px;
  margin-left: 10px;
  float: left;
}

.player audio{
  width: 100%;
  height: 35px;
}

